@import "./scss/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  color: $colorContent;
  background-color: $colorBack;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

#root {
  width: 100vw;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}
