$colorContent: #FFFFFF;
$colorContentDark: #9D9D9D;
$colorBack: #060C26;

$colorPopupBackground: #000000;

$colorGameBack: #2C005B;

$colorBtnBorderHover: #646CFF;
$colorBtnBack: #000000;
$colorBtnBackActive: #00C1C4;

$colorBoardContent: #000000;
$colorBoardBack: #FFFFFF;

$colorTileBack: #C9C9C9;
